<div{{ attributes.addClass('container') }}>
    <div class="row">
        <div class="col">
            {% for band in content.field_paragraph_bands|children %}
                {% if band['#paragraph'].bundle == 'alert_band' %}
                    {{ band }}
                {% endif %}
            {% endfor %}
            {% if content.field_paragraph_band|render|striptags('<drupal-render-placeholder>')|trim is empty %}
                <h1 class="landing-header">
                    {% if content.field_display_title|render is not empty %}
                        {{ content.field_display_title }}
                    {% else %}
                        {{ node.label }}
                    {% endif %}
                </h1>
            {% else %}
                {{ content.field_paragraph_band }}
            {% endif %}
            <div class="content">
                {% for band in content.field_paragraph_bands|children %}
                    {% if band['#paragraph'].bundle != 'alert_band' %}
                        {{ band }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>    
    </div>
</div>