{%
  set classes = [
    'paragraph-' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'bg-image-' ~ content.field_media_image['#items'][0].target_id
  ]
%}
{% set link = null %}
{% if content.field_link|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
  {% set link = link('test', content.field_link['#items'][0].uri) %}
{% endif %}

{% block paragraph %}
    {% if link is not empty %}
      <a href="{{ link['#url'] }}" {{ attributes.addClass(classes) }}>
    {% else %}
      <div {{ attributes.addClass(classes) }}>
    {% endif %}
      {{ content.field_media_image }}
      <div class="h2">
        {{ content.field_header }}
      </div>
      {% if link is not empty %}
        <i class="fas fa-arrow-right" role="presentation"></i>
        </a>
      {% else %}
        </div>
      {% endif %}
{% endblock %}
