{%
  set classes = [
    'container',
    'paragraph',
    'paragraph-' ~ paragraph.bundle|clean_class,
    content.field_alignment|render|striptags('<drupal-render-placeholder>')|trim == 'left' ? 'text-block-left',
    content.field_template_type|render|striptags('<drupal-render-placeholder>')|trim,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_template_type|render|striptags('<drupal-render-placeholder>')|trim == 'inset-text' ? 'bg-image-' ~ content.field_media_image['#items'][0].target_id
  ]
%}
{% block paragraph %}
    <div {{ attributes.addClass(classes) }}>
      {% block content %}
        {% if content.field_template_type|render|striptags('<drupal-render-placeholder>')|trim == 'side-by-side' %}
          <div class="row">
            <div class="col-6">
              <div class="wrapper">
                {% set media_uri = content.field_media_image[0]['#media']|file_uri %}
                {% if media_uri is not null %}
                  <img src="{{ media_uri|image_style('half_width_cropped_16_9') }}" alt="my image" />
                {% endif %}
              </div>
            </div>
            <div class="col-6">
              <div class="wrapper">
                {% if title|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
                  <h2>{{ title }}</h2>
                {% elseif content.field_header|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
                  <h2>{{ content.field_header }}</h2>
                {% endif %}
                <div class="details">
                  {{ content.field_restricted_html }}
                  {{ content.field_link }}            
                </div>
              </div>
            </div>        
          </div>
        {% else %}      
          <div class="row">
            {{ content.field_media_image }}
            <div class="col-6">
              <div class="wrapper">
                <h2>{{ content.field_header }}</h2>
                {{ content.field_restricted_html }}          
                {{ content.field_link }}
              </div>
            </div>        
          </div>
        {% endif %}
      {% endblock %}
    </div>
{% endblock paragraph %}
