{%
  set classes = [
    'paragraph',
    'paragraph-' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set parent = paragraph._referringItem.parent.parent.entity %}

{% set tagsArray = [] %}
{% set tags = 'all' %}

{# {% for t in content.field_news_type['#items'] %}
    {% if t.target_id|render|trim is not empty %}
        {% set tagsArray = tagsArray|merge([t.target_id|render|trim]) %}
    {% endif %}
{% endfor %}

{% for t in content.field_science_tags['#items'] %}
    {% if t.target_id|render|trim is not empty %}
        {% set tagsArray = tagsArray|merge([t.target_id|render|trim]) %}
    {% endif %}
{% endfor %}

{% for t in content.field_science_themes['#items'] %}
    {% if t.target_id|render|trim is not empty %}
        {% set tagsArray = tagsArray|merge([t.target_id|render|trim]) %}
    {% endif %}
{% endfor %}

{% for t in content.field_partners['#items'] %}
    {% if t.target_id|render|trim is not empty %}
        {% set tagsArray = tagsArray|merge([t.target_id|render|trim]) %}
    {% endif %}
{% endfor %} #}

{% if tagsArray is not empty %}
  {% set tags = tagsArray|join(',') %}
{% endif %}

{% set header = 'Related Announcements' %}
{% if content.field_title|render|striptags('<drupal-render-placeholder>')|trim is not empty %}
  {% set header = content.field_title %}
{% endif %}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
      {% block content %}
        {% set results = drupal_view_result('announcements', 'announcement_block', parent.nid.value, tags)|length %}
        {% if results > 0 %}
          <div class="container">
            <div class="row row-header">
              <div class="col d-flex justify-content-between">
                <h3 class="h5">{{ header }}</h3>
                {% set link = link('test', content.field_link['#items'][0].uri) %}
                <a href="{{ link['#url'] }}" class="btn" {% if content.field_link['#items'][0].options.external %} target="_blank" {% endif %}>
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="container paragraph-related-announcement-band th-anchored th-{{ content.field_band_color|render|striptags('<drupal-render-placeholder>')|trim }}">
            <div class="anchor-base"></div>
              {{ drupal_view('announcements', 'announcement_block', parent.nid.value, tags) }}
            </div>
          </div>
        {% endif %}
      {% endblock %}
  </div>
{% endblock paragraph %}
