{% for item in items %}
    {% if item.content['#url'].external %}
        <a href="{{ item.content['#url'].uri }}" {% if item.content['#url'].external %}target="_blank"{% endif %}>
            {{ item.content['#title'] }}
            <i class="fas fa-external-link-alt" role="presentation"></i>
        </a>
    {% else %}
        {% if item.content['#url'].routeName == 'entity.node.canonical' %}
            {% set title = drupal_field('title', 'node', item.content['#url'].routeParameters['node']) %}
            <a href={{ path('entity.node.canonical', {'node': item.content['#url'].routeParameters['node']})}}>
                {% if item.content['#title']|trim|first == '/' %}
                  {{ title }}
                {% else %}
                  {{ item.content['#title'] }}
                {% endif %}
                <i class="fas fa-arrow-right" role="presentation"></i>
            </a>
        {% endif %}
    {% endif %}
{% endfor %}
